.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn
.yarn/
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*

# Hardhat artifacts
artifacts/
cache/
cached/

# Hardhat files
/cache
/artifacts

# Do not ignore the artifacts folder inside the test directory
!packages/protocol/test-artifact/easy-auction/artifacts

# TypeChain files
*/*/typechain
*/*/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
*/*/ignition/deployments/chain-31337


# Build artifacts
dist/
build/
deployments/hardhat/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode

coverage

# Coverage and other reports
reports/
coverage.json
venv